{{#vendorExtensions.x-java-response-container-type}}{{vendorExtensions.x-java-response-container-type}}<{{returnBaseType}}>{{/vendorExtensions.x-java-response-container-type}}{{^vendorExtensions.x-java-response-container-type}}{{{returnType}}}{{/vendorExtensions.x-java-response-container-type}}