{{#vendorExtensions.x-java-response}}{{#vendorExtensions.x-java-response.isContainer}}{{vendorExtensions.x-java-response.type}}<{{returnBaseType}}>{{/vendorExtensions.x-java-response.isContainer}}{{^vendorExtensions.x-java-response.isContainer}}{{vendorExtensions.x-java-response.type}}{{/vendorExtensions.x-java-response.isContainer}}{{/vendorExtensions.x-java-response}}{{^vendorExtensions.x-java-response}}{{{returnType}}}{{/vendorExtensions.x-java-response}}