[ req ]
default_bits = 4096
string_mask = utf8only
distinguished_name = req
prompt = no

[ cp_root_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints = critical, CA:true
keyUsage = critical, keyCertSign, digitalSignature

[ cp_server_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints = critical, CA:true
keyUsage = critical, keyCertSign, digitalSignature, cRLSign
subjectAltName = @san

# Common alternative names for the server in a dev environment
# Add additional alt names here as standardization with containers happens
[san]
IP.1 = 127.0.0.1
DNS.1 = localhost
