*.swp
*.swo
*.bak
*.pyc
*.pyo
*.src.rpm
*.git.*.rpm
proxy/build
proxy/lib
proxy/*.log
proxy/*.log.*
proxy/buildconf/builder/config/local
proxy/.classpath
proxy/.project
proxy/.pydevproject
proxy/.externalToolBuilders
proxy/conf/eclipse/bin
proxy/conf/eclipse/.project
proxy/rhnwebapp
proxy/velocity.log*
proxy/*.jar
proxy/*.txt
proxy/*.out
proxy/target
proxy/target-eclipse
proxy/reports
.DS_Store
*~
