*~
*.#*
*#*
*.bak
*.gz
*.jar
*.log*
*.out
*.pyc
*.pyo
*.rpm
*.swo
*.swp

**/.classpath
# The master checkstyle configuration is in project_conf
**/.checkstyle
**/.DS_Store
**/.externalToolBuilders
**/.project
**/.pydevproject
**/.syntastic_class_path
**/.zanata-cache

**/build/
**/custom.yaml
**/generated_certs/
**/gen_products/
**/lib/
**/product_certs/
**/reports/
**/target/
**/target-eclipse/

buildconf/builder/config/local
client.crt
client.key
conf/eclipse/bin
conf/eclipse/.project
buildconf/scripts/import_products_ipa.json
buildconf/scripts/import_products.json
