*~
*.#*
*#*
*.bak
*.gz
*.jar
*.log*
*.out
*.pyc
*.pyo
*.rpm
*.swo
*.swp

**/.classpath
**/*.iml
**/*.iws
**/*.ipr
.ideaDataSources
.idea
!.idea/codeStyleSettings.xml
!.idea/copyright
dataSources/

# The master checkstyle configuration is in project_conf
**/.checkstyle
**/.DS_Store
**/.externalToolBuilders
**/.project
**/.pydevproject
**/.syntastic_javac_config
**/.zanata-cache
**/tags
**/.tags*
**/.settings

**/build/
**/custom.yaml
**/renderer.chain
**/generated_certs/
**/gen_products/
**/lib/
**/product_certs/
**/reports/
**/target/
**/target-eclipse/
**/bin/qpid/keys

buildconf/builder/config/local
client.crt
client.key
conf/eclipse/bin
conf/eclipse/.project
buildconf/scripts/import_products_ipa.json
buildconf/scripts/import_products.json

# rvm / other ruby version managers
.rvmrc
.ruby-version
.ruby-gemset

# Vagrant
.vagrant/

# don't want to push up the oracle binary by accident
*oracle-xe*.zip
