<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>candlepin</contextName>

    <property name="LOG_DIR" value="/var/log/candlepin" />
    <property name="ARCHIVED_LOG_DIR" value="${LOG_DIR}" />
    <!--Daily rollover-->
    <property name="ROLLING_PATTERN" value="%d{yyyy-MM-dd}" />
    <!--Archive old logs-->
    <property name="ROLLING_FORMAT" value="gz" />
    <!--Keep 52 days of history-->
    <property name="MAX_HISTORY" value="52" />

    <turboFilter class="org.candlepin.logging.LoggerAndMDCFilter">
        <key>logLevel</key>
        <topLogger>org.candlepin</topLogger>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>

    <appender name="CandlepinAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/candlepin.log</file>
        <encoder>
            <pattern>%d{ISO8601} [thread=%thread] [%X{requestType}=%X{requestUuid}, org=%X{org}, csid=%X{csid}] %-5p %c - %m%n</pattern>
        </encoder>
        <!-- The LoggingFilter is invoked before we know the org, so to make sure we print the request
             with the org, the AuthInterceptor reprints the request.  The statements that do this
             reprinting are marked as DUPLICATE.  Uncomment the below to suppress duplicates.  Note
             that we do not want to suppress duplicates in production because it is unlikely the
             LoggingFilter will be set to DEBUG level there.  -->
        <!--
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>DUPLICATE</marker>
            </evaluator>
            <OnMatch>DENY</OnMatch>
        </filter>
        -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ARCHIVED_LOG_DIR}/candlepin.log-${ROLLING_PATTERN}.${ROLLING_FORMAT}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="AUDITLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/audit.log</file>
        <encoder>
            <pattern>%d{ISO8601} %m</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ARCHIVED_LOG_DIR}/audit.log-${ROLLING_PATTERN}.${ROLLING_FORMAT}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/error.log</file>
        <encoder>
            <pattern>%d{ISO8601} [thread=%thread] [%X{requestType}=%X{requestUuid}, org=%X{org}, csid=%X{csid}] %-5p %c - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ARCHIVED_LOG_DIR}/error.log-${ROLLING_PATTERN}.${ROLLING_FORMAT}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--This appender can be used for logging in JSON format into the syslog-->
    <!--<appender name="SyslogAppender" class="net.logstash.logback.appender.LogstashSocketAppender">-->
        <!--<host>127.0.0.1</host>-->
        <!--<port>514</port>-->
        <!--<prefix class="ch.qos.logback.classic.PatternLayout">-->
            <!--<pattern>candlepin @cee:</pattern>-->
        <!--</prefix>-->
    <!--</appender>-->

    <appender name="SyslogAppender" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>DAEMON</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

    <logger name="org.candlepin" level="INFO"/>

    <!-- Keep these messages in audit.log only-->
    <logger name="org.candlepin.audit.LoggingListener.AuditLog" level="INFO" additivity="false">
        <appender-ref ref="AUDITLOG" />
    </logger>

    <!-- With each attempt to connect Qpid, we get a warning message:
          Exception received while trying to verify hostname
         We decide to silence this in logs because it shouldn't have any significance to
         our usage of Qpid -->
    <logger name="org.apache.qpid.transport.network.security.ssl.SSLUtil" level="ERROR"/>

    <!-- Silence the hibernate deprecation warnings -->
    <logger name="org.hibernate.orm.deprecation" level="DEBUG" additivity="false"/>

    <root level="WARN">
        <appender-ref ref="CandlepinAppender" />
        <appender-ref ref="SyslogAppender" />
        <appender-ref ref="ErrorAppender" />
    </root>
</configuration>
