[versions]
artemis = "2.35.0"
guice = "6.0.0"
hibernate = "5.6.15.Final"
hibernate-validator = "6.2.5.Final"
jackson = "2.17.2"
jaxb = "4.0.5"
junit = "5.10.3"
okhttp3 = "4.12.0"
openapi-generator = "7.7.0"
resteasy = "4.7.9.Final"
slf4j = "2.0.13"
test-logger = "4.0.0"

[plugins]
dependency-check = { id = "org.owasp.dependencycheck", version = "10.0.2" }
gradle-versions = { id = "com.github.ben-manes.versions", version = "0.51.0" }
nebula-lint = { id = "nebula.lint", version = "19.0.2" }
openapi-generator = { id = "org.openapi.generator", version.ref = "openapi-generator" }
sonarqube = { id = "org.sonarqube", version = "5.1.0.4882" }
test-logger = { id = "com.adarshr.test-logger", version.ref = "test-logger" }

[libraries]
artemis-server = { module = "org.apache.activemq:artemis-server", version.ref = "artemis" }
artemis-stomp = { module = "org.apache.activemq:artemis-stomp-protocol", version.ref = "artemis" }
assertj = { module = "org.assertj:assertj-core", version = "3.26.3" }
bouncycastle-prov = { module = "org.bouncycastle:bcprov-jdk18on", version = "1.78.1"}
bouncycastle-pkix = { module = "org.bouncycastle:bcpkix-jdk18on", version = "1.78.1"}
caffeine = { module = "com.github.ben-manes.caffeine:caffeine", version = "3.1.8" }
checkstyle = { module = "com.puppycrawl.tools:checkstyle", version = "10.17.0" }
checkstyle-sevntu = { module = "com.github.sevntu-checkstyle:sevntu-checks", version = "1.44.1" }
commons-codec = { module = "commons-codec:commons-codec", version = "1.17.0" }
commons-collections = { module = "org.apache.commons:commons-collections4", version = "4.4" }
commons-io = { module = "commons-io:commons-io", version = "2.16.1" }
commons-lang = { module = "org.apache.commons:commons-lang3", version = "3.14.0" }
ehcache = { module = "org.ehcache:ehcache", version = "3.10.8" }
gettext = { module = "com.googlecode.gettext-commons:gettext-commons", version = "0.9.8" }
gson = { module = "com.google.code.gson:gson", version = "2.11.0" }
gsonfire = { module = "io.gsonfire:gson-fire", version = "1.9.0" }
guice-persist = { module = "com.google.inject.extensions:guice-persist", version.ref = "guice" }
guice-servlet = { module = "com.google.inject.extensions:guice-servlet", version.ref = "guice" }
hamcrest = { module = "org.hamcrest:hamcrest-library", version = "2.2" }
hibernate = { module = "org.hibernate.javax.persistence:hibernate-jpa-2.1-api", version = "1.0.2.Final" }
hibernate-c3p0 = { module = "org.hibernate:hibernate-c3p0", version.ref = "hibernate" }
hibernate-jcache = { module = "org.hibernate:hibernate-jcache", version.ref = "hibernate" }
hibernate-jpamodelgen = { module = "org.hibernate:hibernate-jpamodelgen", version.ref = "hibernate" }
hibernate-validator = { module = "org.hibernate.validator:hibernate-validator", version.ref = "hibernate-validator" }
hibernate-validator-processor = { module = "org.hibernate.validator:hibernate-validator-annotation-processor", version.ref = "hibernate-validator" }
hsqldb = { module = "org.hsqldb:hsqldb", version = "2.7.3" }
javax-el = { module = "org.glassfish:javax.el", version = "3.0.0" }
jackson-databind = { module = "com.fasterxml.jackson.core:jackson-databind", version.ref = "jackson" }
jackson-hibernate = { module = "com.fasterxml.jackson.datatype:jackson-datatype-hibernate5", version.ref = "jackson" }
jackson-jaxrs = { module = "com.fasterxml.jackson.jaxrs:jackson-jaxrs-json-provider", version.ref = "jackson" }
jackson-jdk8 = { module = "com.fasterxml.jackson.datatype:jackson-datatype-jdk8", version.ref = "jackson" }
jackson-json-schema = { module = "com.fasterxml.jackson.module:jackson-module-jsonSchema", version.ref = "jackson" }
jackson-jsr310 = { module = "com.fasterxml.jackson.datatype:jackson-datatype-jsr310", version.ref = "jackson" }
jackson-xml = { module = "com.fasterxml.jackson.dataformat:jackson-dataformat-xml", version.ref = "jackson" }
jackson-yaml = { module = "com.fasterxml.jackson.dataformat:jackson-dataformat-yaml", version.ref = "jackson" }
javax-annotation = { module = "javax.annotation:javax.annotation-api", version = "1.3.2" }
javax-cache = { module = "javax.cache:cache-api", version = "1.1.1" }
javax-rs = { module = "javax.ws.rs:javax.ws.rs-api", version = "2.1.1" }
javax-servlet = { module = "javax.servlet:javax.servlet-api", version = "4.0.1" }
javax-validation = { module = "javax.validation:validation-api", version = "2.0.1.Final" }
jaxb = { module = "com.sun.xml.bind:jaxb-impl", version.ref = "jaxb" }
jaxb-core = { module = "com.sun.xml.bind:jaxb-core", version.ref = "jaxb" }
jimfs = { module = "com.google.jimfs:jimfs", version = "1.3.0" }
junit = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit" }
junit-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit" }
junit-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit" }
junit-params = { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "junit" }
keycloak = { module = "org.keycloak:keycloak-servlet-filter-adapter", version = "24.0.5" }
liquibase = { module = "org.liquibase:liquibase-core", version = "4.28.0" }
liquibase-slf4j = { module = "com.mattbertolini:liquibase-slf4j", version = "5.0.0" }
logback = { module = "ch.qos.logback:logback-classic", version = "1.5.6" }
logstash = { module = "net.logstash.logback:logstash-logback-encoder", version = "7.4" }
mariadb = { module = "org.mariadb.jdbc:mariadb-java-client", version = "3.4.0" }
mockito-junit = { module = "org.mockito:mockito-junit-jupiter", version = "5.12.0" }
oauth = { module = "net.oauth.core:oauth-provider", version = "20100527" }
okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp3" }
okhttp-interceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp3" }
okhttp-tls = { module = "com.squareup.okhttp3:okhttp-tls", version.ref = "okhttp3" }
openapi = { module = "org.openapitools:openapi-generator", version.ref = "openapi-generator" }
openapi-databind-nullable = { module = "org.openapitools:jackson-databind-nullable", version = "0.2.6" }
otel-annotation = { module = "io.opentelemetry.instrumentation:opentelemetry-instrumentation-annotations", version = "2.5.0" }
picocli = { module = "info.picocli:picocli", version = "4.7.6" }
postgresql = { module = "org.postgresql:postgresql", version = "42.7.3" }
quartz = { module = "org.quartz-scheduler:quartz", version = "2.3.2" }
resteasy-atom = { module = "org.jboss.resteasy:resteasy-atom-provider", version.ref = "resteasy" }
resteasy-guice = { module = "org.jboss.resteasy:resteasy-guice", version.ref = "resteasy" }
resteasy-multipart = { module = "org.jboss.resteasy:resteasy-multipart-provider", version.ref = "resteasy" }
resteasy-validator = { module = "org.jboss.resteasy:resteasy-validator-provider", version.ref = "resteasy" }
rhino = { module = "org.mozilla:rhino", version = "1.7.15" }
slf4j = { module = "org.slf4j:slf4j-api", version.ref = "slf4j" }
slf4j-jcl = { module = "org.slf4j:jcl-over-slf4j", version.ref = "slf4j" }
slf4j-log4j = { module = "org.slf4j:log4j-over-slf4j", version.ref = "slf4j" }
smallrye-config = { module = "io.smallrye.config:smallrye-config", version = "3.9.0" }
spotbugs = { module = "com.github.spotbugs:spotbugs-annotations", version = "4.8.6" }
tomcat-annotations = { module = "org.apache.tomcat:tomcat-annotations-api", version = "10.1.26" }
swagger = { module = "io.swagger:swagger-annotations", version = "1.6.14" }
test-logger-plugin = { module = "com.adarshr:gradle-test-logger-plugin", version.ref = "test-logger" }
