<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>subservice</contextName>

    <appender name="SubserviceAppender" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/subservice/subservice.log</file>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.candlepin.subservice" level="INFO"/>
    <logger name="org.candlepin.common" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="SubserviceAppender" />
    </root>
</configuration>
