%global _binary_filedigest_algorithm 1
%global _source_filedigest_algorithm 1
%global _binary_payload w9.gzdio
%global _source_payload w9.gzdio

## If you follow the Java packaging guidelines, you
## only need to run brp-java-repack-jars on packages that include
## arch-independent JAR files under /usr/share and that also include
## GCJ-compiled .jar.so files.
%global __jar_repack %{nil}

%if 0%{?fedora} >= 19 || 0%{?rhel} >= 7
%global tomcat tomcat
%else
%global tomcat tomcat6
%endif

Name: gutterball
Version: 1.0.16
Release: 1%{?dist}
#if $epoch
Epoch: $epoch
#end if
Summary: Data aggregator for Candlepin

License: GPLv2
URL: http://www.candlepinproject.org
Source0: %{name}-%{version}-complete.tar.gz
Source1: %{name}-%{version}.war

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-buildroot
BuildArch: noarch

Requires: %{tomcat}
Requires: java >= 0:1.6.0

%description
Gutterball is a data aggregator for the Candlepin entitlement
engine.

%prep
%setup -q %{SOURCE0}

%build
## MEAD takes care of building the source

%install
rm -rf %{buildroot}

## Conf files
%{__install} -d -m 755 %{buildroot}/%{_sysconfdir}/%{name}/certs/amqp
%{__install} -m 640 conf/%{name}.conf %{buildroot}/%{_sysconfdir}/%{name}/%{name}.conf

## Logging
%{__install} -d -m 755 %{buildroot}/%{_localstatedir}/log/%{name}
%{__install} -d 755 %{buildroot}%{_sysconfdir}/logrotate.d/
%{__install} -m 644 conf/logrotate.conf %{buildroot}%{_sysconfdir}/logrotate.d/%{name}

## War file
%{__install} -d -m 755 %{buildroot}/%{_sharedstatedir}/%{tomcat}/webapps/%{name}
%{__unzip} %{SOURCE1} -d %{buildroot}/%{_sharedstatedir}/%{tomcat}/webapps/%{name}

%clean
rm -rf %{buildroot}

%files
%defattr(-, root, root)
%doc LICENSE
%config(noreplace) %attr(644, root, root) %{_sysconfdir}/logrotate.d/%{name}
%config(noreplace) %attr(640, tomcat, tomcat) %{_sysconfdir}/%{name}/%{name}.conf
%dir %attr(750, tomcat, tomcat) %{_sysconfdir}/%{name}/certs/amqp
%attr(775, tomcat, root) %{_localstatedir}/log/%{name}

%defattr(644, tomcat, tomcat, 755)
%{_sharedstatedir}/%{tomcat}/webapps/%{name}/*

#raw
%changelog
* Fri May 01 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.16-1
- 1217058: Fixed broken changeset affecting upgrade (mstead@redhat.com)
- Add Candlepin sub-projects as dependencies in POM files. (awood@redhat.com)
- Adjusted default QPID connection timeouts/retries (mstead@redhat.com)
- Properly close qpid connection on shutdown (mstead@redhat.com)
- Make QPID connection in seperate thread (mstead@redhat.com)
- Expanded testing of the per-consumer status count report (crog@redhat.com)
- Added consumer filtering to the status trend report (crog@redhat.com)

* Wed Apr 01 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.15-1
- 1207810: Add missing symlink for gutterball and c3p0. (dgoodwin@redhat.com)

* Tue Mar 31 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.14-1
- Stop logging full message body at INFO level. (dgoodwin@redhat.com)
- Reduce QPID connection logging to debug in various places (mstead@redhat.com)
- Ensure ConsumerState does not exist before persisting (mstead@redhat.com)
- Do not process messages already handled by gutterball (mstead@redhat.com)
- Auto configure AMQP connection retry/wait connections (mstead@redhat.com)

* Wed Mar 18 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.13-1
- Add jcl-over-slf4j to EL7 gutterball. (awood@redhat.com)
- 1201924: Add missing cglib dependency for gutterball in EL7.
  (awood@redhat.com)
- Include status reasons for consumer_status default results
  (mstead@redhat.com)
- Fixed management_enabled filtering for status_trend (mstead@redhat.com)
- Added management_enabled data to consumer_trend (mstead@redhat.com)
- Added management_enabled filtering to consumer_status report
  (mstead@redhat.com)
- Add new column for tracking management_enabled (mstead@redhat.com)
- Fix checkstyle errors and class name misspelling (wpoteat@redhat.com)
- 1200358: Wait for successful AMQP connection on startup (mstead@redhat.com)

* Tue Feb 17 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.12-1
- 1190040: Add tomcat dependency for gutterball. (dgoodwin@redhat.com)

* Tue Feb 17 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.11-1
- Changed custom param to custom_results (mstead@redhat.com)
- GB: Better description on status parameter (mstead@redhat.com)
- Added pagination to the status trend report. (crog@redhat.com)
- Completed migration of common pagination codebase. (crog@redhat.com)
- GB now uses CP's paging system for pagination (crog@redhat.com)

* Mon Feb 02 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.10-1
- Update rpm deps for qpid 0.30. (dgoodwin@redhat.com)
- Fix SSL hostname verification error after upgrade to Qpid 0.30.
  (dgoodwin@redhat.com)
- Updated fix for connection holding (crog@redhat.com)
- Rename POM files to the Maven prefered 'pom.xml'. (awood@redhat.com)
- Upgrade to QPid 0.30. (awood@redhat.com)
- Connections are now released after reports are run. (crog@redhat.com)
- Paging is no longer enabled by default. (crog@redhat.com)
- Use minimized DTO for report defaults (mstead@redhat.com)
- ConsumerTrendReport no longer returns results for multiple consumers
  (crog@redhat.com)
- Cleaned up pagination and snapshot iterator functionality (crog@redhat.com)
- Added simple pagination (crog@redhat.com)
- Cleaned up curator and added unit tests. (crog@redhat.com)
- Added memory management improvements to consumer status report
  (crog@redhat.com)
- Optimized status trend report query filtering (crog@redhat.com)
- GB: Return correct gutterball version info (mstead@redhat.com)
- Add generated POM files to the repository. (awood@redhat.com)

* Fri Jan 09 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.9-1
- Fix gutterball ant dep on Fedora. (dgoodwin@redhat.com)

* Fri Jan 09 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.8-1
- Removed unused object reference (mstead@redhat.com)
- Fixed broken consumer status report query (mstead@redhat.com)
- Fixed GB event status DB upgrade (mstead@redhat.com)
- Make runtime classes for translations come from new common implementation
  (wpoteat@redhat.com)
- Merge all PO and POT files and place under common. (awood@redhat.com)
- Enable language specific text in Gutterball (wpoteat@redhat.com)
- Adjust CA name in Candlepin truststore for Katello installs.
  (awood@redhat.com)

* Fri Dec 12 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.7-1
- Fixed an issue with data being filtered erroneously (crog@redhat.com)
- Fixed an issue with serializing the "environment" property. (crog@redhat.com)
- Added JSON filtering to GB's model objects. (crog@redhat.com)
- Log the thread ID instead of the request UUID / owner info we don't have in
  gb. (dgoodwin@redhat.com)
- Move to two phase event processing in gutterball. (dgoodwin@redhat.com)
- Store status on event in gutterball. (dgoodwin@redhat.com)
- Drop unused messagetext column. (dgoodwin@redhat.com)
- Allow gutterball message listener to throw exceptions. (dgoodwin@redhat.com)
- Add a toString for gutterball event logging. (dgoodwin@redhat.com)
- Correct DER vs PEM mix-up. (awood@redhat.com)
- Handle strict Katello permissions on password files. (awood@redhat.com)
- Add qpid-cpp-server-store to configure script. (dgoodwin@redhat.com)

* Fri Dec 05 2014 Alex Wood <awood@redhat.com> 1.0.6-1
- Reverted use of DateUtils.parseDateStrictly. (crog@redhat.com)

* Fri Dec 05 2014 Alex Wood <awood@redhat.com> 1.0.5-1
- Add candlepin-deps as a BuildRequires. (awood@redhat.com)
- Fixed GB deploy script (mstead@redhat.com)
- Removed note about bash version requirement. (crog@redhat.com)
- Removed JDBC hash from deploy scripts (crog@redhat.com)
- Added time zone support to the status trend report (crog@redhat.com)
- Clamped dates and relaxed year validation (crog@redhat.com)
- Cleaned up and/or removed extraneous code (crog@redhat.com)
- Added additional date tests and translation wrappers. (crog@redhat.com)
- Added support for extended validations to ParameterDescriptor
  (crog@redhat.com)
- Added the status trend report and API. (crog@redhat.com)

* Mon Nov 24 2014 Alex Wood <awood@redhat.com> 1.0.4-1
- Add missing requires for gutterball. (awood@redhat.com)

* Mon Nov 24 2014 Alex Wood <awood@redhat.com> 1.0.3-1
- Make logging less verbose and more informative. (awood@redhat.com)
- Add missing Gutterball runtime dependencies. (awood@redhat.com)
- Fix missing logging configuration in Gutterball. (awood@redhat.com)
- Fixes to qpid script. (awood@redhat.com)
- Allow qpid-configure.sh to run when invoked indirectly. (awood@redhat.com)
- Spec file fixes. (awood@redhat.com)
- Fix mistakes in Qpid certs deploy script. (awood@redhat.com)
- Add some sample values in default gutterball.conf (awood@redhat.com)
- Updated translations. (dgoodwin@redhat.com)

* Wed Nov 19 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.2-1
- Die if we hit any Guice errors. (awood@redhat.com)
- Fix deploy script. (awood@redhat.com)
- Added OAuth support to Gutterball's API (crog@redhat.com)
- Aligned hibernate types with those specified by liquibase changeset
  (mstead@redhat.com)
- Sync liquibase column name with that specifed in annotation.
  (mstead@redhat.com)

* Mon Nov 17 2014 Alex Wood <awood@redhat.com> 1.0.1-1
- Initial packaging.

* Tue Jun 03 2014 Alex Wood <awood@redhat.com> 1.0.0-1
- Initial packaging
#end raw
