%global _binary_filedigest_algorithm 1
%global _source_filedigest_algorithm 1
%global _binary_payload w9.gzdio
%global _source_payload w9.gzdio

## If you follow the Java packaging guidelines, you
## only need to run brp-java-repack-jars on packages that include
## arch-independent JAR files under /usr/share and that also include
## GCJ-compiled .jar.so files.
%global __jar_repack %{nil}

%global parent_proj candlepin

Name: %{parent_proj}-common
Version: 1.0.23
Release: 1%{?dist}
#if $epoch
Epoch: $epoch
#end if
Summary: Common code for Candlepin and related projects

URL: http://www.candlepinproject.org
License: GPLv2
Source0: %{name}-%{version}-complete.tar.gz
Source1: %{name}-%{version}.jar

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-buildroot
BuildArch: noarch

# Build deps

%description
Common code for Candlepin and related projects.

%prep
%setup -q %{SOURCE0}

%build

%install
rm -rf %{buildroot}

%{__install} -d -m 755 %{buildroot}/%{_javadir}
%{__install} -m 644 %{SOURCE1} %{buildroot}/%{_javadir}
%{__ln_s} %{_javadir}/%{name}-%{version}.jar %{buildroot}/%{_javadir}/%{name}.jar

%clean
rm -rf %{buildroot}

%files
%defattr(644,root,root,775)
%{_javadir}/%{name}-%{version}.jar
%{_javadir}/%{name}.jar

#raw
%changelog
* Fri May 01 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.23-1
- Translations update. (dgoodwin@redhat.com)
- Move apicrawl out of candlepin proper. (awood@redhat.com)
- Add Candlepin sub-projects as dependencies in POM files. (awood@redhat.com)
- Add missing newline in HTTP Request logging. (awood@redhat.com)
- Keep HTTP verb & URL and response code on top line in debug log.
  (awood@redhat.com)
- Consolidate request and response logging into one log statement.
  (awood@redhat.com)
* Wed Feb 25 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.22-1
- Translation updates for Sprint 87 (wpoteat@redhat.com)

* Tue Feb 17 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.21-1
- Changed property filtering to use JSON path instead of reflection.
  (crog@redhat.com)
- Added JSON formatting to ServletLogger (crog@redhat.com)
- Completed migration of common pagination codebase. (crog@redhat.com)
- GB now uses CP's paging system for pagination (crog@redhat.com)

* Mon Feb 02 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.20-1
- Rename POM files to the Maven prefered 'pom.xml'. (awood@redhat.com)
- Add generated POM files to the repository. (awood@redhat.com)
- Logging touchups. (dgoodwin@redhat.com)

* Fri Jan 09 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.19-1
- Fix oauth dependency for cpdeps builds. (dgoodwin@redhat.com)

* Fri Jan 09 2015 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.18-1
- Updated translations from Zanata. (dgoodwin@redhat.com)
- Move all current translations to common. (awood@redhat.com)
- Enable language specific text in Gutterball (wpoteat@redhat.com)

* Thu Dec 11 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.17-1
- Fixed an issue with data being filtered erroneously (crog@redhat.com)
- Fixed an issue with serializing the "environment" property. (crog@redhat.com)
- Added JSON filtering to GB's model objects. (crog@redhat.com)

* Thu Nov 20 2014 Alex Wood <awood@redhat.com> 1.0.16-1
- Spec file fixes. (awood@redhat.com)
- Updated translations. (dgoodwin@redhat.com)

* Wed Nov 19 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.15-1
- Added OAuth support to Gutterball's API (crog@redhat.com)

* Fri Nov 14 2014 Alex Wood <awood@redhat.com> 1.0.14-1
- Remove dependency on Guava. (awood@redhat.com)
- 1162297: Remove the vendor tag from the spec files (bkearney@redhat.com)
- Refactor Configuration implementation to be more consistent.
  (awood@redhat.com)
- Add Hibernate Validation to Gutterball. (awood@redhat.com)
- Correct misspelled class name. (awood@redhat.com)

* Wed Nov 05 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.13-1
- Fix el6 guice persist dependency. (dgoodwin@redhat.com)

* Wed Nov 05 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.12-1
- Fix EL6 logback deps. (dgoodwin@redhat.com)

* Wed Nov 05 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.11-1
- Correct logback dependencies. (dgoodwin@redhat.com)
- Remove redundant imports. (awood@redhat.com)
- Initial commit for bringing hibernate into GB (mstead@redhat.com)

* Thu Oct 30 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.10-1
- Update candlepin-common spec to work around JDK 1.8 as well.
  (dgoodwin@redhat.com)

* Tue Oct 28 2014 Devan Goodwin <dgoodwin@rm-rf.ca> 1.0.9-1
- Updated translations. (dgoodwin@redhat.com)
- Fix issue with JPAConfigParser not returning entire config.
  (awood@redhat.com)
- Add logging to runtime exceptions in Configuration classes.
  (awood@redhat.com)
- Make merge static & implementation dependent. (jesusr@redhat.com)
- remove Candlepin's Config class & switch to using common Configuration
  (jmrodri@gmail.com)
- Major config refactoring (jmrodri@gmail.com)
- Make it possible for CandlepinExceptions to not log from the
  CandlepinExceptionMapper. This is useful when a lengthy stacktrace is
  unnecessary, say for example a failed login attempt (dcrissma@redhat.com)
- Modified paths displayed in gettext output. (crog@redhat.com)
- 1142824: Fixed Java gettext extract task (crog@redhat.com)

* Fri Oct 03 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.8-1
- Updated translations. (dgoodwin@redhat.com)

* Fri Sep 12 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.7-1
- rhel not defined on fedora (jesusr@redhat.com)
- Updated translations. (dgoodwin@redhat.com)
- keep da_popo alive. It's part of our history. (jesusr@redhat.com)
- Translations on Gutterball and Common (wpoteat@redhat.com)

* Wed Sep 10 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.6-1
- Revert "remove mkdir" (jesusr@redhat.com)

* Tue Sep 09 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.5-1
- rhel6 requires ant-nodeps. (jesusr@redhat.com)

* Tue Sep 09 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.4-1
- use candlepin-deps-common instead of *-deps (jesusr@redhat.com)

* Tue Sep 09 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.3-1
- remove the mkdir (jesusr@redhat.com)

* Tue Sep 09 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.2-1
- Update candlepin-deps (jesusr@redhat.com)
- common: put jar in cpdeps location as well (jesusr@redhat.com)
- Move REST exceptions to common package (wpoteat@redhat.com)
- Reorganize all imports according to the Candlepin import order. (awood@redhat.com)

* Wed Aug 06 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.1-1
- Package contains common code used by gutterball and candlepin.
- new package built with tito

* Fri Aug 1 2014 jesus m. rodriguez <jesusr@redhat.com> 1.0.0-1
- Initial build
#end raw
