policy_module(canadianTenPin, 1.0.0)

########################################
#
# Declarations
#

type canadianTenPin_t;
type canadianTenPin_exec_t;
init_daemon_domain(canadianTenPin_t, canadianTenPin_exec_t)

permissive canadianTenPin_t;

type canadianTenPin_etc_rw_t;
files_type(canadianTenPin_etc_rw_t)

type canadianTenPin_etc_certs_rw_t;
files_type(canadianTenPin_etc_certs_rw_t)


type canadianTenPin_etc_certs_ca_cert_r_t;
files_type(canadianTenPin_etc_certs_ca_cert_r_t)


########################################
#
# canadianTenPin local policy
#

allow canadianTenPin_t self:fifo_file rw_fifo_file_perms;
allow canadianTenPin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(canadianTenPin_t, canadianTenPin_etc_rw_t, canadianTenPin_etc_rw_t)
manage_files_pattern(canadianTenPin_t, canadianTenPin_etc_rw_t, canadianTenPin_etc_rw_t)

manage_dirs_pattern(canadianTenPin_t, canadianTenPin_etc_certs_rw_t, canadianTenPin_etc_certs_rw_t)
manage_files_pattern(canadianTenPin_t, canadianTenPin_etc_certs_rw_t, canadianTenPin_etc_certs_rw_t)

manage_dirs_pattern(canadianTenPin_t, canadianTenPin_etc_certs_ca_cert_r_t, canadianTenPin_etc_certs_ca_cert_r_t)
manage_files_pattern(canadianTenPin_t, canadianTenPin_etc_certs_ca_cert_r_t, canadianTenPin_etc_certs_ca_cert_r_t)


sysnet_dns_name_resolve(canadianTenPin_t)
corenet_all_recvfrom_unlabeled(canadianTenPin_t)

allow canadianTenPin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(canadianTenPin_t)
corenet_tcp_sendrecv_generic_node(canadianTenPin_t)
corenet_tcp_sendrecv_all_ports(canadianTenPin_t)
corenet_tcp_bind_generic_node(canadianTenPin_t)
corenet_tcp_bind_http_port(canadianTenPin_t)

domain_use_interactive_fds(canadianTenPin_t)

logging_send_syslog_msg(canadianTenPin_t)

miscfiles_read_localization(canadianTenPin_t)

require {
    type canadianTenPin_etc_certs_ca_cert_r_t;
    type httpd_t;
    class file { read getattr open };
}

# for httpd/katello, access to the canadianTenPin ca certs
allow httpd_t canadianTenPin_etc_rw_t:dir { search };
allow httpd_t canadianTenPin_etc_certs_ca_cert_r_t: file { read getattr open };
allow httpd_t canadianTenPin_etc_certs_rw_t:dir search;

