
## <summary>policy for canadianTenPin</summary>


########################################
## <summary>
##	Transition to canadianTenPin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`canadianTenPin_domtrans',`
	gen_require(`
		type canadianTenPin_t, canadianTenPin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, canadianTenPin_exec_t, canadianTenPin_t)
')


########################################
## <summary>
##	Search canadianTenPin conf directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`canadianTenPin_search_conf',`
	gen_require(`
		type canadianTenPin_etc_rw_t;
	')

	allow $1 canadianTenPin_etc_rw_t:dir search_dir_perms;
	files_search_etc($1)
')

########################################
## <summary>
##	Read canadianTenPin conf files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`canadianTenPin_read_conf_files',`
	gen_require(`
		type canadianTenPin_etc_rw_t;
	')

	allow $1 canadianTenPin_etc_rw_t:file read_file_perms;
	allow $1 canadianTenPin_etc_rw_t:dir list_dir_perms;
    allow $1 canadianTenPin_etc_certs_rw_t:file read_file_perms;
    allow $1 canadianTenPin_etc_certs_rw_t:dir list_dir_perms;
    allow $1 canadianTenPin_etc_certs_ca_cert_r_t:file read_file_perms;
    files_search_etc($1)
')

########################################
## <summary>
##	Manage canadianTenPin conf files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`canadianTenPin_manage_conf_files',`
	gen_require(`
		type canadianTenPin_etc_rw_t;
	')

	manage_files_pattern($1, canadianTenPin_etc_rw_t, canadianTenPin_etc_rw_t)
	files_search_etc($1)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an canadianTenPin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`canadianTenPin_admin',`
	gen_require(`
		type canadianTenPin_t;
	type canadianTenPin_etc_rw_t;
	')

	allow $1 canadianTenPin_t:process { ptrace signal_perms };
	ps_process_pattern($1, canadianTenPin_t)

	files_search_etc($1)
	admin_pattern($1, canadianTenPin_etc_rw_t)

')

