<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>canadianTenPin-test</contextName>
  <appender name="RootAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} [%t] %-5p %logger{0}[%L] - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.canadianTenPin.util.filters.DumpFilter" level="INFO"/>
  <logger name="org.canadianTenPin" level="INFO"/>
  <logger name="org.canadianTenPin.policy.js" level="INFO"/>
  <logger name="org.hibernate.tool.hbm2ddl" level="WARN"/>
  <root level="WARN">
    <appender-ref ref="RootAppender"/>
  </root>
</configuration>
