<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>candlepin-test</contextName>
  <appender name="RootAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} [%t] %-5p %logger{0}[%L] - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.candlepin.util.filters.DumpFilter" level="INFO"/>
  <logger name="org.candlepin" level="DEBUG"/>
  <logger name="org.hibernate.tool.hbm2ddl" level="WARN"/>
  <logger name="org.hibernate.id.UUIDHexGenerator" level="ERROR"/>
  <logger name="liquibase" level="ERROR"/>

<!--
  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.hibernate.type" level="TRACE"/>
  <logger name="org.hibernate.event.internal.DefaultPersistEventListener" level="TRACE"/>
-->

  <root level="WARN">
    <appender-ref ref="RootAppender"/>
  </root>
</configuration>
