<!-- <web-app xmlns="http://java.sun.com/xml/ns/j2ee"-->
<!--         version="2.4">-->

<!--    <display-name>Candlepin</display-name>-->

<!--&lt;!&ndash;    <filter>&ndash;&gt;-->
<!--&lt;!&ndash;        <filter-name>Guice Filter</filter-name>&ndash;&gt;-->
<!--&lt;!&ndash;        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>&ndash;&gt;-->
<!--&lt;!&ndash;    </filter>&ndash;&gt;-->
<!--&lt;!&ndash;    <filter-mapping>&ndash;&gt;-->
<!--&lt;!&ndash;        <filter-name>Guice Filter</filter-name>&ndash;&gt;-->
<!--&lt;!&ndash;        <url-pattern>/*</url-pattern>&ndash;&gt;-->
<!--&lt;!&ndash;    </filter-mapping>&ndash;&gt;-->

<!--&lt;!&ndash;    <listener>&ndash;&gt;-->
<!--&lt;!&ndash;        <listener-class>&ndash;&gt;-->
<!--&lt;!&ndash;            org.candlepin.guice.CandlepinContextListener&ndash;&gt;-->
<!--&lt;!&ndash;        </listener-class>&ndash;&gt;-->
<!--&lt;!&ndash;    </listener>&ndash;&gt;-->
<!--&lt;!&ndash;     &ndash;&gt;-->
<!--     <listener>-->
<!--         <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>-->
<!--     </listener>-->
<!--     -->
<!--     <listener>-->
<!--         <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>-->
<!--     </listener>-->

<!--    <context-param>-->
<!--        &lt;!&ndash;-->
<!--            RestEasy tries to dynamically determine what to use for logging in its-->
<!--            org.jboss.resteasy.logging.Logger class.  It chooses between commons-logging,-->
<!--            log4j, and slf4j by looking for implementation specific classes on the-->
<!--            class loader.  Unfortunately, since it looks for Log4j first and Log4j is-->
<!--            bundled with Tomcat, its always going to use Log4j even when not appropriate.-->
<!--            Consequently, we have to specify SLF4J ourselves.-->

<!--            For more reading on class loaders and logging see http://articles.qos.ch/classloader.html-->

<!--            Also see http://docs.jboss.org/resteasy/docs/2.3.1.GA/userguide/html/Installation_Configuration.html#RESTEasyLogging-->
<!--         &ndash;&gt;-->
<!--        <param-name>resteasy.logger.type</param-name>-->
<!--        <param-value>SLF4J</param-value>-->
<!--    </context-param>-->

<!--    <login-config>-->
<!--        <auth-method>CLIENT-CERT</auth-method>-->
<!--        <realm-name>candlepin</realm-name>-->
<!--    </login-config>-->
<!--</web-app>-->
