---
name: Ansible verification

on:
  pull_request:
    paths:
      - 'ansible/**'
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip3 install yamllint ansible-lint

      - name: Run Ansible linter
        working-directory: ./ansible
        run: |
          yamllint .
          ansible-lint .
