name: Update Gradle Wrapper

on:
  schedule:
    - cron: "0 0 * * *" # Every midnight UTC
  workflow_dispatch:

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v2
        with:
          repo-token: ${{ secrets.AUTOASSIGNREVIEWERSECRET }}
